/* variables */
$imgDir: "/app/images/";

/* app styling */
html, body {
	margin:0;
	padding:0;
	height:100%;
	background: url(#{$imgDir}background.jpg) no-repeat;
	background-size: cover;
}

.main {
	position: relative;
	width: 40em;
	margin: 0 auto;
	color: #fff;
	padding: 8em 2em 2em;
	z-index: 2;
	
	&:after {
		content:"Chat example";
		position: absolute;
		top: 1em;
		width: 19em;
		height: 2.5em;
		font-size: 1.9em;
		text-align: right;
		padding-top: 0.7em;
		background: url(#{$imgDir}amdatu_logo.png) no-repeat 0 / 8em;
		z-index: 3;
	}
	
	&:before {
		content:" ";
		position: absolute;
		top: 1em;
		left: 0;
		right: 0;
		bottom: 0;
		background:
			linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
			linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
			linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
			linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
			linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
			linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;
		border: 0.15em solid #ccc;
		border-radius: 1em;
		opacity: 0.7;
		z-index: -1;
	}
	
	.container-fluid {
		color: #000;
		
		span.from { color: #9C9C9C; }
	}
}

button, .btn-primary, input[type=submit] {
	border: 0;
	padding: 0.3em 1em;
	background: rgb(217,44,33); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,44,33,1) 0%, rgba(133,22,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,44,33,1)), color-stop(100%,rgba(133,22,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,44,33,1) 0%,rgba(133,22,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92c21', endColorstr='#851619',GradientType=0 ); /* IE6-9 */
}
input[type=text] {
	color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
	li {
		background: url(#{$imgDir}a.png) no-repeat 0 / 1em;
	    padding-left: 1.5em;
	    
	    a {
	    	color: #fff;
	    	&:hover {
	    		color: #D92C21;
	    		text-decoration: none;
	    	}
	    }
	} 
}

input.message {
	width: 30.5em;
}

.messages {
	height: 500px;
	overflow: scroll;
}